@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-display: swap;
  color: #06091d;
}

body,
html,
#root {
  height: 100%;
}

// app

.app {
  margin: 0 auto;
  max-width: 1000px;

  &__navbar {
    color: #06091d;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
  }

  &__topic {
    margin-bottom: 100px;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
  } 
}

// navbar

.navbar {

  &__logo {
    font-size: 36px;
    font-family: "Caveat";
    font-weight: bold;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  &__link {
    font-size: 16px;
    color: #3e4c59;
    text-decoration: none;
    padding: 0px 5px;
  }

  &__link:hover {
    opacity: 0.5;
    color: darkcyan;
    border-bottom: 3px solid darkcyan;
  }
}


// topic

.topic {
  &__about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border-radius: 40px;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.about-me {
  &__avatar {
    border-radius: 50%;
    padding-bottom: 100px;
  }

  &__description {
    margin: 0 50px;
  }
}

.description {
  &__headline {
    text-align: left;
    font-size: 36px;
  }

  &__text {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
}


// skills

.skills {
  
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }

  &__list-item { 
    // background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    // width: 10rem;
  }

  // &__list-item:hover {
  //   background-color: #e0e0e0;
  // }

  &__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

h5 {
  font-size: 24px;
  margin: 0;
  // font-style: italic;
  color: darkcyan;
  font-family: 'Caveat';
}
.list-item {
  
  &__image {
    margin-bottom: 12px;
    width: 60px;
    height: 60px;
  }
}

.topic-headline {
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 10px;
}

// projects

.projects {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}

.project {
  &__prev {
    object-fit: cover;
    width: 400px;
    height: 290px;
    object-position: 0 0;
    border-radius: 20px;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }
}

// footer

.footer {
  &__text {
    font-size: 14px;
    color: #3e4c59;
  }
}