@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-display: swap;
  color: #1f2933;
}

body,
html,
#root {
  height: 100%;
}

.app {
  margin: 0 auto;
  max-width: 1000px;

  &__navbar {
    color: #000000;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
}

.navbar {

  &__logo {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  &__link {
    font-size: 16px;
    color: #3e4c59;
    text-decoration: none;
    padding: 0px 5px;
  }

  &__link:hover {
    opacity: 0.5;
    color: darkcyan;
    border-bottom: 3px solid darkcyan;
  }
}

.topic {
  &__about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border-radius: 40px;
  }
}

.about-me {
  &__avatar {
    border-radius: 50%;
    padding-bottom: 100px;
  }

  &__description {
    margin: 0 50px;
  }
}

.description {
  &__headline {
    text-align: left;
    font-size: 36px;
  }

  &__text {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
}


// skills

.skills {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    
  }

  &__list-item { 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
}

.list-item {
  &__image {
    width: 50px;
    height: 50px;
  }
}